<!doctype html>
<html>

<head>

    <title>Web app Architecture by Techfano</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- build:style bundle -->
    <!-- /build -->

    <body>

	    <!-- build:section layout.header -->
	    <!-- /build -->

		<div class="main-content" ng-view></div>

        <!-- build:section layout.footer -->
        <!-- /build -->
        
		<!-- build:script bundle -->
		<!-- /build -->
        <script data-main="js/main.js" src="js/lib/require.js"></script>
    </body>

</head>

</html>