<!doctype html>
<html>

<head>

    <title>Web app Architecture by Techfano</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- build:style bundle -->
    <!-- /build -->

    <body>

	    <nav class="navbar navbar-inverse">

	    	<div class="container-fluid">
	        
	            <div class="navbar-header">
	              
	              <a class="navbar-brand" href="">Brand</a>
	            </div>

	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
	              <ul class="nav navbar-nav">
	                <li class="active"><a href="">Home</a></li>
	                <li><a href="">Link</a></li>
	                <li><a href="">Link</a></li>
	              </ul>
	            </div>
	        
	        </div>

	    </nav>

		<div class="main-content" ng-view></div>
        
		<!-- build:script bundle -->
		<!-- /build -->
        <script data-main="js/main.js" src="js/lib/require.js"></script>
    </body>

</head>

</html>